:host {
  display: inline-block;
  height: 100%;

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    .input .row-being-added {
      height: 100%;
    }

    .input {
      width: 100%;
      height: 2rem;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}
