@use '@angular/material' as mat;

:host {
  display: flex;
  align-items: center;
  height: 100%;

  .input {
    height: 2rem;
    background-color: #fff;
  }


  .search-option {
    height: 30px;
  }

  @include mat.form-field-overrides(
    (
      container-height: 33.25px,
      container-vertical-padding: 4px,
      outlined-label-text-size: 14px,
      filled-container-color: #fff,
      filled-label-text-size: 14px,
      outlined-label-text-populated-size: 14px,
    )
  );

  @include mat.select-overrides(
    (
      placeholder-text-color: #A3A3A3,
      trigger-text-size: 14px,
    )
  );
}

::ng-deep {
  .mat-mdc-option {
    font-size: 14px !important;
  }

  .mat-mdc-select-panel {
    background-color: #fff !important;
  }
}
