@switch (status) {
  @case ('Deleted') {
    <mat-icon (click)="undoChanges()" class="undo-icon icon">undo</mat-icon>
  }

  @case ('Edited') {
    <mat-icon (click)="undoChanges()" class="undo-icon icon">undo</mat-icon>
  }

  @case ('BeingEdited') {
    <mat-icon (click)="saveChanges()" class="save-icon icon">save</mat-icon>
    <mat-icon (click)="undoChanges()" class="undo-icon icon">undo</mat-icon>
  }

  @default {
    <mat-icon (click)="deleteRow()" class="delete-icon icon">delete</mat-icon>
    <mat-icon (click)="editRow()" class="edit-icon icon">edit</mat-icon>
  }
}
