<div class="container">
    <div class="button-group">
        <button mat-button mat-stroked-button (click)="saveChanges()" [disabled]="!isEditMode()">Save</button>
        <button mat-button mat-stroked-button (click)="cancelEdit()" [disabled]="!isEditMode()">Cancel</button>
        <button mat-button mat-stroked-button (click)="addRow()">
            Add
        </button>
    </div>
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [pinnedTopRowData]="pinnedRows()"
        [getRowStyle]="getRowStyle" (gridReady)="onGridReady($event)" [rowData]="rowData()" [getRowId]="getRowId"
        [columnDefs]="columnDefs"
        [context]="context">
    </ag-grid-angular>
</div>