:host {
  .container {
    height: 600px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .button-group {
    display: flex;
    gap: 10px;
  }
}

::ng-deep .ag-cell-expandable {
  height: 100%;
}

::ng-deep .ag-group-contracted {
  height: 100%;
}
