<div class="container">
  <div class="button-group">
    <button
      mat-button
      mat-stroked-button
      (click)="saveChanges()"
      [disabled]="!saveEnabled()"
    >
      Save
    </button>
    <button
      mat-button
      mat-stroked-button
      (click)="cancelEdit()"
      [disabled]="!hasChanges()"
    >
      Cancel
    </button>
    <button mat-button mat-stroked-button (click)="addNewRow()">Add</button>
  </div>
  <ag-grid-angular
    style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [getRowId]="getRowId"
    [getRowStyle]="getRowStyle"
    (gridReady)="onGridReady($event)"
    [rowModelType]="rowModelType"
    [pagination]="true"
    [cacheBlockSize]="10"
    [paginationPageSize]="10"
    [paginationPageSizeSelector]="[10, 20, 50]"
    [masterDetail]="true"
    [detailCellRendererParams]="detailCellRendererParams"
    [defaultColDef]="defaultColDef"
    (cellKeyDown)="onCellKeyDown($event)"
  >
  </ag-grid-angular>
</div>
