/* You can add global styles to this file, and also import other style files */
/* add material theme */

html,
body {
    height: 100%;
}

body {
    margin: 5rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.new-row {
    background-color: green !important;
}